body {
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #D3D3D3;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 700px;
    height: 700px;
}

.grid-square {
    border: 1px solid;
}

#reset-button {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

#color-button {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}